{
  "presets": [
    [
      "@babel/preset-env",
      {
       "loose": true
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-transform-runtime",
    "@babel/plugin-transform-strict-mode",
    "@babel/plugin-transform-async-to-generator",
    "@babel/plugin-transform-spread",
    "@babel/plugin-transform-destructuring",
    "@babel/plugin-transform-parameters"
  ],
  "comments": false,
  "env": {
    "test": {
      "presets": ["@babel/preset-env"]
    }
  }
}
