{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false
      }
    ]
  ],
  "plugins": [
    "@babel/transform-runtime",
    "@babel/plugin-syntax-dynamic-import"
  ],
  "comments": false,
  "env": {
    "test": {
      "presets": ["@babel/preset-env"]
    }
  }
}
