{
  "presets": [
    [
      "env",
      {
        "modules": false
      }
    ],
    "stage-2"
  ],
  "plugins": [
    "transform-runtime",
    "transform-strict-mode",
    "transform-es2015-modules-commonjs",
    "transform-es2015-spread",
    "transform-es2015-destructuring",
    "transform-es2015-parameters",
    "transform-async-to-generator"
  ],
  "comments": false,
  "env": {
    "test": {
      "presets": ["env", "stage-2"]
    }
  }
}
