.rtl
    direction rtl
.vdp-datepicker
    position relative
    text-align left
    *
        box-sizing border-box

.vdp-datepicker__calendar
    position absolute
    z-index 100
    background white
    width 320px
    border 1px solid #ccc
    header
        display flex
        justify-content: space-between
        align-items: center
        padding:0.5rem
    .flex-rtl
        display flex
        width inherit
        flex-wrap wrap
    .prev, .next
        height:41px
        width:41px
    .date-select   
        width:50%
        margin:0
    .picker-days
        display: flex;
        flex-wrap:wrap;
    .cell
        display inline-block
        padding 0 5px
        width (100/7)%
        height 40px
        line-height 40px
        text-align center
        vertical-align middle
        border 1px solid transparent
        &:not(.blank):not(.disabled).day
        &:not(.blank):not(.disabled).month
        &:not(.blank):not(.disabled).year
            cursor pointer
        &.day-header
            font-size 75%
            font-weight: bold;
            white-space nowrap
            cursor inherit
            &:hover
                background inherit

    .month,
    .year
        width 33.333%

.vdp-datepicker__clear-button
.vdp-datepicker__calendar-button
    cursor pointer
    font-style normal
    &.disabled
      color #999
      cursor default
      pointer-events: none
